Compare Service/Document.Services.Compare.Control/Service References/ComparerProxy/Comparer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://workshare.com/compareservices/5.0/comparewebservice/" elementFormDefault="qualified" targetNamespace="http://workshare.com/compareservices/5.0/comparewebservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Comparer?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sRealm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositorVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositorVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompositorVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptionsSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptionsSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOptionsSetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOptionsSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sOptionsSet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOptionsSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOptionsSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OriginalData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ModifiedData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ResponseOption" type="tns:ResponseOptions" />
        <xs:element minOccurs="0" name="CompareOptions" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ResponseOptions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Rtf">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Xml">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RtfWithSummary">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Wdf">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WdfWithSummary">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseOptions" nillable="true" type="tns:ResponseOptions" />
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteResult" nillable="true" type="tns:CompareResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CompareResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Redline" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompareResults" nillable="true" type="tns:CompareResults" />
  <xs:element name="ExecuteEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="execParams" nillable="true" type="tns:ExecuteParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ExecuteParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompareOptions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modified" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Original" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ResponseOption" type="tns:ResponseOptions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteParams" nillable="true" type="tns:ExecuteParams" />
  <xs:element name="ExecuteExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteExResult" nillable="true" type="tns:CompareResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>