Samples/C# Samples/Document.Services.Compare.Sample/Service References/CompareProxy/Comparer1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://workshare.com/compareservices/5.2/comparewebservice/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://workshare.com/compareservices/5.2/comparewebservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://workshare.com/compareservices/5.2/comparewebservice/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Comparer?xsd=xsd0" namespace="http://workshare.com/compareservices/1.1/comparewebservice/" />
      <xsd:import schemaLocation="http://localhost:8080/Comparer?xsd=xsd1" namespace="http://workshare.com/compareservices/5.0/comparewebservice/" />
      <xsd:import schemaLocation="http://localhost:8080/Comparer?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Comparer?xsd=xsd3" namespace="http://workshare.com/compareservices/5.2/comparewebservice/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComparerChunked_InitialiseFile_InputMessage">
    <wsdl:part name="parameters" element="tns:InitialiseFile" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_InitialiseFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitialiseFileResponse" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_InitialiseFile_StringFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q1:string" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_ReleaseFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseFile" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_ReleaseFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseFileResponse" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_ReleaseFile_StringFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q2:string" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_ReleaseAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseAll" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_AppendFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AppendFile" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_AppendFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppendFileResponse" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_AppendFile_StringFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q3:string" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_Compare_InputMessage">
    <wsdl:part name="parameters" element="tns:Compare" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_Compare_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompareResponse" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_Compare_StringFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q4:string" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_Benchmark_InputMessage">
    <wsdl:part name="parameters" element="tns:Benchmark" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_Benchmark_OutputMessage">
    <wsdl:part name="parameters" element="tns:BenchmarkResponse" />
  </wsdl:message>
  <wsdl:message name="IComparerChunked_Benchmark_StringFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q5:string" />
  </wsdl:message>
  <wsdl:portType name="IComparerChunked">
    <wsdl:operation name="Authenticate">
      <wsdl:input xmlns:q6="http://workshare.com/compareservices/5.0/comparewebservice/" wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/Authenticate" message="q6:IComparer_Authenticate_InputMessage" />
      <wsdl:output xmlns:q7="http://workshare.com/compareservices/5.0/comparewebservice/" wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/AuthenticateResponse" message="q7:IComparer_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input xmlns:q8="http://workshare.com/compareservices/5.0/comparewebservice/" wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetVersion" message="q8:IComparer_GetVersion_InputMessage" />
      <wsdl:output xmlns:q9="http://workshare.com/compareservices/5.0/comparewebservice/" wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetVersionResponse" message="q9:IComparer_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompositorVersion">
      <wsdl:input xmlns:q10="http://workshare.com/compareservices/5.0/comparewebservice/" wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetCompositorVersion" message="q10:IComparer_GetCompositorVersion_InputMessage" />
      <wsdl:output xmlns:q11="http://workshare.com/compareservices/5.0/comparewebservice/" wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetCompositorVersionResponse" message="q11:IComparer_GetCompositorVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOptionsSet">
      <wsdl:input xmlns:q12="http://workshare.com/compareservices/5.0/comparewebservice/" wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetOptionsSet" message="q12:IComparer_GetOptionsSet_InputMessage" />
      <wsdl:output xmlns:q13="http://workshare.com/compareservices/5.0/comparewebservice/" wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetOptionsSetResponse" message="q13:IComparer_GetOptionsSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOptionsSet">
      <wsdl:input xmlns:q14="http://workshare.com/compareservices/5.0/comparewebservice/" wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/SetOptionsSet" message="q14:IComparer_SetOptionsSet_InputMessage" />
      <wsdl:output xmlns:q15="http://workshare.com/compareservices/5.0/comparewebservice/" wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/SetOptionsSetResponse" message="q15:IComparer_SetOptionsSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitialiseFile">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/InitialiseFile" message="tns:IComparerChunked_InitialiseFile_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/InitialiseFileResponse" message="tns:IComparerChunked_InitialiseFile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/IComparerChunked/InitialiseFileStringFault" name="StringFault" message="tns:IComparerChunked_InitialiseFile_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseFile">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/ReleaseFile" message="tns:IComparerChunked_ReleaseFile_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/ReleaseFileResponse" message="tns:IComparerChunked_ReleaseFile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/IComparerChunked/ReleaseFileStringFault" name="StringFault" message="tns:IComparerChunked_ReleaseFile_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseAll">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/ReleaseAll" message="tns:IComparerChunked_ReleaseAll_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppendFile">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/AppendOriginalFile" message="tns:IComparerChunked_AppendFile_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/AppendOriginalFileResponse" message="tns:IComparerChunked_AppendFile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/IComparerChunked/AppendFileStringFault" name="StringFault" message="tns:IComparerChunked_AppendFile_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Compare">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/Compare" message="tns:IComparerChunked_Compare_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/CompareResponse" message="tns:IComparerChunked_Compare_OutputMessage" />
      <wsdl:fault wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/IComparerChunked/CompareStringFault" name="StringFault" message="tns:IComparerChunked_Compare_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Benchmark">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/Benchmark" message="tns:IComparerChunked_Benchmark_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/BenchmarkResponse" message="tns:IComparerChunked_Benchmark_OutputMessage" />
      <wsdl:fault wsaw:Action="http://workshare.com/compareservices/5.2/comparewebservice/IComparerChunked/BenchmarkStringFault" name="StringFault" message="tns:IComparerChunked_Benchmark_StringFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>