Samples/C# Samples/Document.Services.Compare.Sample/Service References/CompareProxy/service3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://workshare.com/compareservices/5.0/comparewebservice/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://workshare.com/compareservices/5.0/comparewebservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CompareWebServiceWCF_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://workshare.com/compareservices/5.0/comparewebservice/Imports">
      <xsd:import schemaLocation="" namespace="http://workshare.com/compareservices/5.0/comparewebservice/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComparer_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IComparer_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IComparer_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IComparer_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IComparer_GetCompositorVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompositorVersion" />
  </wsdl:message>
  <wsdl:message name="IComparer_GetCompositorVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompositorVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IComparer_GetOptionsSet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionsSet" />
  </wsdl:message>
  <wsdl:message name="IComparer_GetOptionsSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionsSetResponse" />
  </wsdl:message>
  <wsdl:message name="IComparer_SetOptionsSet_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOptionsSet" />
  </wsdl:message>
  <wsdl:message name="IComparer_SetOptionsSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOptionsSetResponse" />
  </wsdl:message>
  <wsdl:message name="IComparer_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IComparer_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IComparer_ExecuteEx_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteEx" />
  </wsdl:message>
  <wsdl:message name="IComparer_ExecuteEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteExResponse" />
  </wsdl:message>
  <wsdl:message name="IComparer_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IComparer_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IComparer">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/Authenticate" message="tns:IComparer_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/AuthenticateResponse" message="tns:IComparer_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetVersion" message="tns:IComparer_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetVersionResponse" message="tns:IComparer_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompositorVersion">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetCompositorVersion" message="tns:IComparer_GetCompositorVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetCompositorVersionResponse" message="tns:IComparer_GetCompositorVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOptionsSet">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetOptionsSet" message="tns:IComparer_GetOptionsSet_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/GetOptionsSetResponse" message="tns:IComparer_GetOptionsSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOptionsSet">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/SetOptionsSet" message="tns:IComparer_SetOptionsSet_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/SetOptionsSetResponse" message="tns:IComparer_SetOptionsSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/Execute" message="tns:IComparer_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/ExecuteResponse" message="tns:IComparer_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteEx">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/ExecuteEx" message="tns:IComparer_ExecuteEx_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/ExecuteExResponse" message="tns:IComparer_ExecuteEx_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/Ping" message="tns:IComparer_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/5.0/comparewebservice/PingResponse" message="tns:IComparer_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompareWebServiceWCF" type="tns:IComparer">
    <wsp:PolicyReference URI="#CompareWebServiceWCF_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://workshare.com/compareservices/5.0/comparewebservice/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://workshare.com/compareservices/5.0/comparewebservice/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompositorVersion">
      <soap:operation soapAction="http://workshare.com/compareservices/5.0/comparewebservice/GetCompositorVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOptionsSet">
      <soap:operation soapAction="http://workshare.com/compareservices/5.0/comparewebservice/GetOptionsSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOptionsSet">
      <soap:operation soapAction="http://workshare.com/compareservices/5.0/comparewebservice/SetOptionsSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://workshare.com/compareservices/5.0/comparewebservice/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteEx">
      <soap:operation soapAction="http://workshare.com/compareservices/5.0/comparewebservice/ExecuteEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://workshare.com/compareservices/5.0/comparewebservice/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>