Samples/C# Samples/Document.Services.Compare.Sample/Service References/CompareProxy/service7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://workshare.com/compareservices/5.2/comparewebservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://workshare.com/compareservices/5.0/comparewebservice/" />
  <xs:element name="InitialiseFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sizeBytes" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitialiseFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitialiseFileResult" type="ser:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileGuid" type="ser:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guidFile" type="ser:guid" />
        <xs:element minOccurs="0" name="fileChunk" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="previousBytesSent" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Compare">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guidOriginalFile" type="ser:guid" />
        <xs:element minOccurs="0" name="guidModifiedFile" type="ser:guid" />
        <xs:element xmlns:q1="http://workshare.com/compareservices/5.0/comparewebservice/" minOccurs="0" name="ResponseOption" type="q1:ResponseOptions" />
        <xs:element minOccurs="0" name="CompareOptions" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://workshare.com/compareservices/5.0/comparewebservice/" minOccurs="0" name="CompareResult" nillable="true" type="q2:CompareResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompareEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://workshare.com/compareservices/5.0/comparewebservice/" minOccurs="0" name="executeParams" nillable="true" type="q3:ChunkedExecuteParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompareExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://workshare.com/compareservices/5.0/comparewebservice/" minOccurs="0" name="CompareExResult" nillable="true" type="q4:CompareResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Benchmark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guidOriginalFile" type="ser:guid" />
        <xs:element minOccurs="0" name="guidModifiedFile" type="ser:guid" />
        <xs:element xmlns:q5="http://workshare.com/compareservices/5.0/comparewebservice/" minOccurs="0" name="ResponseOption" type="q5:ResponseOptions" />
        <xs:element minOccurs="0" name="CompareOptions" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BenchmarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://workshare.com/compareservices/5.2/comparewebservice/" minOccurs="0" name="BenchmarkResult" nillable="true" type="q6:PerformanceResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PerformanceResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComparisonTime" type="ser:duration" />
      <xs:element minOccurs="0" name="ModifiedConversionTime" type="ser:duration" />
      <xs:element minOccurs="0" name="ModifiedPreProcessingTime" type="ser:duration" />
      <xs:element minOccurs="0" name="OriginalConversionTime" type="ser:duration" />
      <xs:element minOccurs="0" name="OriginalPreProcessingTime" type="ser:duration" />
      <xs:element minOccurs="0" name="ResultsProcessingTime" type="ser:duration" />
      <xs:element minOccurs="0" name="TotalExecutionTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q7="http://workshare.com/compareservices/5.2/comparewebservice/" name="PerformanceResults" nillable="true" type="q7:PerformanceResults" />
</xs:schema>