Samples/Web Samples/BasicWebSample/Service References/CompareProxy/service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://workshare.com/compareservices/1.1/comparewebservice/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://workshare.com/compareservices/5.0/comparewebservice/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://workshare.com/compareservices/5.2/comparewebservice/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Comparer" targetNamespace="http://workshare.com/compareservices/1.1/comparewebservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://workshare.com/compareservices/5.0/comparewebservice/" location="" />
  <wsdl:import namespace="http://workshare.com/compareservices/5.2/comparewebservice/" location="" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://workshare.com/compareservices/1.1/comparewebservice/Imports">
      <xsd:import namespace="http://workshare.com/compareservices/1.1/comparewebservice/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILegacyComparer_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="ILegacyComparer_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="ILegacyComparer_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ILegacyComparer_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ILegacyComparer_Execute2_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute2" />
  </wsdl:message>
  <wsdl:message name="ILegacyComparer_Execute2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Execute2Response" />
  </wsdl:message>
  <wsdl:portType name="ILegacyComparer">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/1.1/comparewebservice/Authenticate" message="tns:ILegacyComparer_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/1.1/comparewebservice/AuthenticateResponse" message="tns:ILegacyComparer_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/1.1/comparewebservice/Execute" message="tns:ILegacyComparer_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/1.1/comparewebservice/ExecuteResponse" message="tns:ILegacyComparer_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Execute2">
      <wsdl:input wsaw:Action="http://workshare.com/compareservices/1.1/comparewebservice/Execute2" message="tns:ILegacyComparer_Execute2_InputMessage" />
      <wsdl:output wsaw:Action="http://workshare.com/compareservices/1.1/comparewebservice/Execute2Response" message="tns:ILegacyComparer_Execute2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILegacyComparer" type="tns:ILegacyComparer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://workshare.com/compareservices/1.1/comparewebservice/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://workshare.com/compareservices/1.1/comparewebservice/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute2">
      <soap:operation soapAction="http://workshare.com/compareservices/1.1/comparewebservice/Execute2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Comparer">
    <wsdl:port name="BasicHttpBinding_ILegacyComparer" binding="tns:BasicHttpBinding_ILegacyComparer">
      <soap:address location="http://localhost:8080/Comparer" />
    </wsdl:port>
    <wsdl:port name="CompareWebServiceWCF" binding="i0:CompareWebServiceWCF">
      <soap:address location="http://localhost:8080/Comparer/Compare5" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IComparer" binding="i0:NetTcpBinding_IComparer">
      <soap12:address location="net.tcp://localhost:8090/Comparer/Compare5" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/Comparer/Compare5</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/CompareServer.workshare-dc.com</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IComparer" binding="i0:NetNamedPipeBinding_IComparer">
      <soap12:address location="net.pipe://localhost/Comparer/Compare5" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/Comparer/Compare5</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/CompareServer.workshare-dc.com</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IComparerChunked" binding="i1:WSHttpBinding_IComparerChunked">
      <soap12:address location="http://localhost:8080/Comparer/Chunked" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8080/Comparer/Chunked</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/ln1-dev936.wsdev.net</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IComparerChunked" binding="i1:NetTcpBinding_IComparerChunked">
      <soap12:address location="net.tcp://localhost:8090/Comparer/Chunked" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/Comparer/Chunked</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/CompareServer.workshare-dc.com</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IComparerChunked" binding="i1:NetNamedPipeBinding_IComparerChunked">
      <soap12:address location="net.pipe://localhost/Comparer/Chunked" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/Comparer/Chunked</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/CompareServer.workshare-dc.com</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>