Samples/Chunking Samples/StreamingClient/Service References/ServiceProxy/LoadingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://workshare.com/compareservices/7.0/samples/" elementFormDefault="qualified" targetNamespace="http://workshare.com/compareservices/7.0/samples/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/StreamingService/LoadingService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost/StreamingService/LoadingService.svc?xsd=xsd4" namespace="http://workshare.com/compareservices/7.0/samples/data" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
  <xs:element xmlns:q2="http://workshare.com/compareservices/7.0/samples/data" name="Metadata" nillable="true" type="q2:FileMetadata" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionFileName" nillable="true" type="xs:string" />
</xs:schema>