StreamingClient/Service References/ServiceProxy/LoadingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://workshare.com/compareservices/7.0/samples/data" elementFormDefault="qualified" targetNamespace="http://workshare.com/compareservices/7.0/samples/data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileMetadata">
    <xs:sequence>
      <xs:element name="FileName" nillable="true" type="xs:string" />
      <xs:element name="FileSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMetadata" nillable="true" type="tns:FileMetadata" />
</xs:schema>